* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.6);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00adb5;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* PROFILE IMAGE */
.profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid #00adb5;
    object-fit: cover;
    margin-bottom: 20px;
    transition: 0.4s;
}

.profile-img:hover {
    transform: scale(1.1);
}

.hero span {
    color: #00adb5;
}

.btn {
    margin-top: 20px;
    padding: 12px 30px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: #00adb5;
}

/* Sections */
section {
    padding: 40px 50px;
}

/* Cards */
.skill-box, .project-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #00adb5;
}

/* Responsive */
@media(max-width: 768px) {
    section {
        padding: 40px 20px;
    }

    .navbar {
        flex-direction: column;
    }
}
